<div class="animated fadeIn">
    <form [formGroup]="roleForm" (ngSubmit)="submitForm()" novalidate>
        <div class="row">
            <!-- Form -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><strong>Add Role</strong><small> Form</small></div>
                    <div class="card-body">

                        <!-- status msg start-->
                        <div *ngIf="isSubmitted">
                            <div class="alert alert-success" *ngIf="isSuccess">
                                <strong> {{_statusMsg}} Please Wait ..</strong>.
                            </div>

                            <div class="alert alert-danger" *ngIf="!isSuccess ">
                                <strong>{{_statusMsg}}</strong>
                            </div>
                        </div>
                        <!-- status msg end-->



                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Role Name</label>
                                    <input type="text" value="" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': roleForm.get('name').touched && roleForm.get('name').invalid}">

                                    <div class="invalid-feedback">
                                        <div *ngIf="roleForm.get('name').errors && roleForm.get('name').errors.required">
                                            Please Add Role Name </div>
                                        <div *ngIf="roleForm.get('name').errors && roleForm.get('name').errors.maxlength">
                                            Role Name must be less than 25 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description:</label>
                                    <textarea name="description" formControlName="description" class="form-control" [ngClass]="{'is-invalid': roleForm.get('description').touched && roleForm.get('description').invalid}"></textarea>

                                    <div class="invalid-feedback">
                                        <div>Please Add Description</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> All Roles
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th style="width: 20px;">ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th style="width: 100px; text-align: right;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rolelist; let i = index ">
                                    <td>{{i + 1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.description}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-success btn-sm move-right" type="button" style="margin-bottom: 4px" (click)="editRole(data)">
                                          <i class="fa fa-pencil-square-o"></i>
                                      </button>


                                        <button class="btn btn-danger btn-sm move-right" type="button" (click)="deleteFieldValue(data,i)" style="margin-bottom: 4px">
                                          <i class="fa fa-close"></i>
                                      </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<app-confirmation-modal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-modal>